# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE Files
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
*.tmp
*.log

# LaTeX build files
*.aux
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
